body {
    font-family: 'Josefin Sans', sans-serif;
}

.attribution {
    font-size: 11px; text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}

#container {
    display: flex;

}

#logo {
    padding-top: 50px;

}

#conteudo {
    width: 70%;
    padding-left: 100px;
    padding-right: 150px;
}

#mensagem {
    padding-top: 100px;
}

h1 {
    font-weight: 600;
    font-size: 48px;
}

#imagem{
   background-size:cover;
}