.attribution {
    font-size: 11px; text-align: center;
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    margin-left: 180px;
}

#logo {
    margin-top: 60px;
}
/*
#imagem-principal{

   
}